Topic1
In the previous mission, we worked with legislators.csv, which contains information on every person who has served in the U.S. Congress. We cleaned up some missing data and added a column for birth year.

We'll continue to work with the same data set in this mission. Here's a preview of it in CSV format:


last_name,first_name,birthday,gender,type,state,party,birth_year
Bassett,Richard,1745-04-02,M,sen,DE,Anti-Administration,1745
Bland,Theodorick,1742-03-21,M,rep,VA,1742
Burke,Aedanus,1743-06-16,M,rep,SC,1743
Carroll,Daniel,1730-07-22,M,rep,MD,1730
The data set includes the following columns:

last_name -- The legislator's last name
first_name -- The legislator's first name
birthday -- the legislator's birthday
gender -- The legislator's gender
type -- The chamber in which the legislator served - either Senate (sen) or House of Representatives (rep)
state -- The state the legislator represents
party -- The legislator's party affiliation
birth_year -- integer values for the year the legislator was born
In this mission, we'll use the data to find the most common names among U.S. legislators of each gender. Before diving into this, we'll explore some critical concepts, such as enumeration.

# Topic2 There are many situations where we'll need to iterate over multiple lists in tandem, such as this one:

In [5]:
animals = ["Dog", "Tiger", "SuperLion", "Cow", "Panda"]
viciousness = [1, 5, 10, 10, 1]

for animal in animals:
    print("Animal")
    print(animal)
    print("Viciousness")

Animal
Dog
Viciousness
Animal
Tiger
Viciousness
Animal
SuperLion
Viciousness
Animal
Cow
Viciousness
Animal
Panda
Viciousness

In the example above, we have two lists. The second list describes the viciousness of the animals in the first list. A Dog has a viciousness level of 1, and a SuperLion has a viciousness level of 10. We want to retrieve the position of the item in animals the loop is currently on, so we can use it to look up the corresponding value in the viciousness list.

Unfortunately, we can't just loop through animals, and then tap into the second list. Python has an enumerate() function that can help us with this, though. The enumerate() function allows us to have two variables in the body of a for loop -- an index, and the value.

In [6]:
for i, animal in enumerate(animals):
    print("Animal Index")  ## label
    print(i)
    print("Animal") ## label
    print(animal)

Animal Index
0
Animal
Dog
Animal Index
1
Animal
Tiger
Animal Index
2
Animal
SuperLion
Animal Index
3
Animal
Cow
Animal Index
4
Animal
Panda

## Here's a diagram of the Python logic that takes place when the code runs:
#### Iteration1 i=0, animal="Dog"
#### Iteration2 i=1, animal="Tiger"
#### Iteration3 i=2, animal="SuperLion"
#### Iteration4 i=3, animal="Cow"
#### Iteration5 i=4, animal="Panda"
###### On every iteration of the loop, the value for i will become the value of the index in animals that corresponds to that iteration. animal will take on the value in animals that corresponds to the index i.

###### Here's another example of how we can use the enumerate() function to iterate over multiple lists in tandem:

In [7]:
animals = ["Dog", "Tiger", "SuperLion", "Cow", "Panda"]
viciousness = [1, 5, 10, 10, 1]

for i, animal in enumerate(animals):
    print("Animal")
    print(animal)
    print("Viciousness")
    print(viciousness[i])

Animal
Dog
Viciousness
1
Animal
Tiger
Viciousness
5
Animal
SuperLion
Viciousness
10
Animal
Cow
Viciousness
10
Animal
Panda
Viciousness
1

In this example, we use the index variable i to index the viciousness list, and print the viciousness value that corresponds to the same index in animals.

#### Instructions

##### Enumerate the ships list using a for loop and the enumerate() function.
##### For each iteration of the loop:
##### Print the item from ships at the current index.
##### Print the item from cars at the current index.

In [8]:
# initial data for example
ships = ["Andrea Doria", "Titanic", "Lusitania"]
cars = ["Ford Edsel", "Ford Pinto", "Yugo"]

In [9]:
for i, ships in enumerate(ships):
    print(ships, cars[i])

Andrea Doria Ford Edsel
Titanic Ford Pinto
Lusitania Yugo

topic3 We can even use the enumerate() function to add columns to lists of lists. For example, here's some starter code:

In [11]:
door_count = [4, 4]
cars = [
        ["black", "honda", "accord"],
        ["red", "toyota", "corolla"]
       ]

title3 Adding Columns.
We can add a column to cars by appending a value to each inner list:

In [12]:
for i, car in enumerate(cars):
    car.append(door_count[i])

In the code above, we:

Use the enumerate() function to loop across each item in cars.
Find the corresponding value in door_count that has the index i (the same index as the current item in cars).
Add the value in door_count with index i to car.
After the code runs, each row in cars will have a door_count column.
Let's reinforce what we've learned by completing an exercise.

Instructions

Loop through each row in things using the enumerate() function.
Append the item in trees that has the same index (as the current thing) to the end of each row in things.
After the code runs, things should have an extra column.

In [22]:
#initial data
things = [["apple", "monkey"], ["orange", "dog"], ["banana", "cat"]]
trees = ["cedar", "maple", "fig"]

In [23]:
for i, thing in enumerate(things):
    thing.append(trees[i])
    
print(things)

[['apple', 'monkey', 'cedar'], ['orange', 'dog', 'maple'], ['banana', 'cat', 'fig']]

#### 4. List Comprehensions.
We've written many short for loops to manipulate lists. Here's an example:

In [25]:
animals = ["Dog", "Tiger", "SuperLion", "Cow", "Panda"]

animal_lengths = []
for animal in animals:
    animal_lengths.append(len(animal))

It takes three lines to calculate the length of each string animals this way. However, we can condense this down to one line with a list comprehension:

In [44]:
animal_lengths = [len(animal) for animal in animals]
print(animal_lengths)

[3, 5, 9, 3, 5]

This comprehension consists of the list operation len(animal), the loop variable animal, and the list that we're iterating over, animals.

The diagram below visualizes how a list comprehension condenses a for loop:

<img src="pythonloop.png">
Logically, the list comprehension:

Loops through each element in the animals list and assigns the current element to animal
Finds the length of each animal string
Generates a new list that contains all of the lengths as elements
Assigns the new list to animal_lengths
List comprehensions are much more compact notation, and can save space when you need to write multiple for loops.

Instructions

Use list comprehension to create a new list called apple_prices_doubled, where you multiply each item in apple_prices by 2.
Use list comprehension to create a new list called apple_prices_lowered, where you subtract 100 from each item in apple_prices.

In [33]:
# initial data
apple_prices = [100, 101, 102, 105]

In [60]:
# your code here
apple_prices_doubled = [apple_price*2 for apple_price in apple_prices]
print(apple_prices_doubled)

apple_prices_lowered = [(apple_price-100) for apple_price in apple_prices]
print(apple_prices_lowered)

[200, 202, 204, 210]
[0, 1, 2, 5]

### 5. Counting Female Names

Let's count how many times each female first name occurs in legislators. To limit our count to names from the modern era, we'll only look at those that appear after 1940. While names like Theodorick were common prior to 1940, they're rare today.

Here's a preview of what this dictionary will look like:

In [62]:
#{
#    'Nancy': 1, 
#    'Sandy': 1, 
#    'Carolyn': 1, 
#    'Melissa': 2, 
#    'Jo Ann': 2,
#    ...
#}

Now, let's work on creating it!

Instructions

Create an empty dictionary called name_counts.
Loop through each row in legislators.
If the gender column of the row equals F and the year column is greater than 1940:
Assign the first_name column of the row to the variable name.
If name is in name_counts:
Add 1 to the value associated with name in name_counts.
If name isn't in name_counts:
Set the value associated with name in name_counts to 1.
When the loop finishes, name_counts should contain each unique name in the first_name column of legislators as a key, and the corresponding number of times it appeared as the value.

In [104]:
import csv
f = open("legislators.csv", "r")
csvreader = csv.reader(f)
legislators = list(csvreader)
header_legislators = legislators[0]
legislators = legislators[1:]
#['Bassett', 'Richard', '1745-04-02', 'M', 'sen', 'DE', 'Anti-Administration', 1745]
header_legislators

['last_name', 'first_name', 'birthday', 'gender', 'type', 'state', 'party']

In [94]:
gender = []
for item in legislators:
    gender.append(item[3])

gender = set(gender)
print(gender)

{'', 'F', 'M'}

In [95]:
party = []
for item in legislators:
    party.append(item[6])

party = set(party)
print(party)

print(legislators[0:10])

{'', 'Progressive Republican', 'Independent Democrat', 'Readjuster', 'Constitutional Unionist', 'Liberal Republican', 'Unknown', 'Crawford Republican', 'Independent', 'Pro-Administration', 'Ind. Republican', 'Populist', 'Farmer-Labor', 'Anti-Administration', 'Liberty', 'Progressive', 'Ind. Democrat', 'Prohibitionist', 'Popular Democrat', 'States Rights', 'Nonpartisan', 'Free Silver', 'Ind. Whig', 'Democrat-Liberal', 'Anti Jacksonian', 'American', 'Anti Masonic', 'Law and Order', 'Republican', 'Anti Jackson', 'Readjuster Democrat', 'Republican-Conservative', 'Adams', 'Jackson Republican', 'Conservative', 'Nullifier', 'National Greenbacker', 'Jackson', 'Whig', 'Silver Republican', 'Anti-Jacksonian', 'Unionist', 'Federalist', 'Adams Democrat', 'Democratic Republican', 'Union', 'New Progressive', 'Ind. Republican-Democrat', 'Union Democrat', 'Unconditional Unionist', 'Coalitionist', 'Democrat', 'Union Labor', 'Conservative Republican', 'Socialist', 'Free Soil', 'American Labor', 'Anti-Lecompton Democrat', 'Jacksonian', 'Democratic and Union Labor'}
[['Bassett', 'Richard', '1745-04-02', 'M', 'sen', 'DE', 'Anti-Administration'], ['Bland', 'Theodorick', '1742-03-21', '', 'rep', 'VA', ''], ['Burke', 'Aedanus', '1743-06-16', '', 'rep', 'SC', ''], ['Carroll', 'Daniel', '1730-07-22', 'M', 'rep', 'MD', ''], ['Clymer', 'George', '1739-03-16', 'M', 'rep', 'PA', ''], ['Contee', 'Benjamin', '', 'M', 'rep', 'MD', ''], ['Dalton', 'Tristram', '1738-05-28', '', 'sen', 'MA', 'Pro-Administration'], ['Elmer', 'Jonathan', '1745-11-29', 'M', 'sen', 'NJ', 'Pro-Administration'], ['Few', 'William', '1748-06-08', 'M', 'sen', 'GA', 'Anti-Administration'], ['Floyd', 'William', '1734-12-17', 'M', 'rep', 'NY', '']]

In [96]:
for row in legislators:
    if row[3] == "":
        row[3] = "M"

gender = []
for item in legislators:
    gender.append(item[3])

gender = set(gender)
print(gender)

{'F', 'M'}

In [97]:

birth_years = []
for row in legislators:
    birthday = row[2]
    parts = birthday.split("-")
    birth_years.append(parts[0])
print(birth_years[0:10])

['1745', '1742', '1743', '1730', '1739', '', '1738', '1745', '1748', '1734']

In [98]:
converted_years = []
for year in birth_years:
    try:
        int_year = int(year)
        converted_years.append(int_year)
    except Exception:
        pass

In [99]:
for row in legislators:
    birthday = row[2]
    birth_year = birthday.split("-")[0]
    try:
        birth_year = int(birth_year)
    except Exception:
        birth_year = 0
    row.append(birth_year)
print(birth_years[0:10])

['1745', '1742', '1743', '1730', '1739', '', '1738', '1745', '1748', '1734']

In [100]:
last_value = 1
for row in legislators:
    if row[7] == 0:
        row[7] = last_value
    last_value = row[7]

In [103]:
legislators[0:10]

[['Bassett',
  'Richard',
  '1745-04-02',
  'M',
  'sen',
  'DE',
  'Anti-Administration',
  1745],
 ['Bland', 'Theodorick', '1742-03-21', 'M', 'rep', 'VA', '', 1742],
 ['Burke', 'Aedanus', '1743-06-16', 'M', 'rep', 'SC', '', 1743],
 ['Carroll', 'Daniel', '1730-07-22', 'M', 'rep', 'MD', '', 1730],
 ['Clymer', 'George', '1739-03-16', 'M', 'rep', 'PA', '', 1739],
 ['Contee', 'Benjamin', '', 'M', 'rep', 'MD', '', 1739],
 ['Dalton',
  'Tristram',
  '1738-05-28',
  'M',
  'sen',
  'MA',
  'Pro-Administration',
  1738],
 ['Elmer',
  'Jonathan',
  '1745-11-29',
  'M',
  'sen',
  'NJ',
  'Pro-Administration',
  1745],
 ['Few',
  'William',
  '1748-06-08',
  'M',
  'sen',
  'GA',
  'Anti-Administration',
  1748],
 ['Floyd', 'William', '1734-12-17', 'M', 'rep', 'NY', '', 1734]]

In [107]:
name_counts = {}
#print(legislators[0:2])
for legislator in legislators:
    if legislator[3] == 'F' and legislator[7] > 1940:
        name = legislator[1]
        if name in name_counts:
            name_counts[name] = name_counts[name] + 1
        else:
            name_counts[name] = 1
print(name_counts)

IndexError: list index out of range