# Loop

In [18]:
f = open('crime_rates.csv', 'r')
data = f.read()
rows = data.split('\n')
print(rows[0:5])

['Albuquerque,749', 'Anaheim,371', 'Anchorage,828', 'Arlington,503', 'Atlanta,1379']

In [19]:
final_data = []
for row in rows:
    final_data.append(row.split(','))

print(final_data[0:4])

[['Albuquerque', '749'], ['Anaheim', '371'], ['Anchorage', '828'], ['Arlington', '503']]

## Create a list of strings named cities_list that contains the city names from each list in five_elements.

In [10]:
five_elements = final_data[0:5]
print(five_elements)
cities_list = []
for row in five_elements:
    cities_list.append(row[0])
    
print(cities_list)

[['Albuquerque', '749'], ['Anaheim', '371'], ['Anchorage', '828'], ['Arlington', '503'], ['Atlanta', '1379']]
['Albuquerque', 'Anaheim', 'Anchorage', 'Arlington', 'Atlanta']

In [25]:
int_crime_rates = []
for rowjo in final_data:
    int_crime_rates.append(int(rowjo[1]))
    
print (int_crime_rates)

[749, 371, 828, 503, 1379, 425, 408, 542, 1405, 835, 1288, 647, 974, 1383, 455, 658, 675, 615, 2122, 423, 362, 587, 543, 563, 168, 992, 1185, 617, 734, 1263, 784, 352, 397, 575, 481, 598, 1750, 399, 1172, 1294, 992, 522, 1216, 815, 639, 1154, 1993, 919, 594, 1160, 636, 752, 130, 517, 423, 443, 738, 503, 413, 704, 363, 401, 597, 1776, 722, 1548, 616, 1171, 724, 990, 169, 1177, 742]