In [18]:
f = open('la_weather.csv', 'r')
data = f.read()
rows = data.split('\n')
final_data = []
weather = []
for row in rows:
    row_split = row.split(',')
    final_data.append(row_split)
    weather.append(row_split[1])
    
#print(final_data)
#print(weather)
weather = weather[1:]
print(len(weather))
print(weather[0])
print(weather[364])

365
Sunny
Fog

# defind dictionary variable students = {}

In [21]:
superhero_ranks = {}
superhero_ranks["Aquaman"] = 1
superhero_ranks["Superman"] = 2
print(superhero_ranks)
print(type(superhero_ranks))

{'Aquaman': 1, 'Superman': 2}
<class 'dict'>

In [24]:
#example
students = {
    "Tom": 60,
    "Jim": 70
}
students["Ann"] = 85
students["Tom"] = 80
students["Jim"] = students["Jim"] + 5
print(students)

{'Tom': 80, 'Jim': 75, 'Ann': 85}

# Example
#### students = {
####    "Tom": 60,
####    "Jim": 70
#### }
#### >>found = "Tom" in students
#### "Tom" in students would return True, and "Sue" in students would return in False.

In [28]:
planet_numbers = {"mercury": 1, "venus": 2, "earth": 3, "mars": 4}
jupiter_found = "jupiter" in planet_numbers
earth_found = "earth" in planet_numbers

print(jupiter_found)
print(earth_found)

False
True

# user if/else statement to check data in list and saperate list follow condition
##### scores = [80, 100, 60, 30]
##### high_scores = []
##### low_scores = []
##### for score in scores:
#####    if score > 70:
#####        high_scores.append(score)
#####    else:
#####        low_scores.append(score)

### Append any names in planet_names that are longer than 5 characters to long_names. Otherwise, append the names to short_names. To accomplish this:

In [32]:
planet_names = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Neptune", "Uranus"]
short_names = []
long_names = []

for planet in planet_names:
    if len(planet) > 5:
        long_names.append(planet)
    else:
        short_names.append(planet)
        
print(short_names)
print(long_names)

['Venus', 'Earth', 'Mars']
['Mercury', 'Jupiter', 'Saturn', 'Neptune', 'Uranus']

# Example create dictionary from list (sumation of each item)

In [33]:
pantry = ["apple", "orange", "grape", "apple", "orange", "apple", "tomato", "potato", "grape"]
pantry_counts = {}

for item in pantry:
    if item in pantry_counts:
        pantry_counts[item] = pantry_counts[item] + 1
    else:
        pantry_counts[item] = 1

print(pantry_counts)

{'apple': 3, 'orange': 2, 'grape': 2, 'tomato': 1, 'potato': 1}

# From weather, create dictionary and count weater

In [38]:
# define dictionary
weather_count = {}
for each_weather in weather:
    if each_weather in weather_count:
        weather_count[each_weather] = weather_count[each_weather] + 1
    else:
        weather_count[each_weather] = 1
print(weather_count)

{'Sunny': 210, 'Rain': 25, 'Fog': 125, 'Fog-Rain': 4, 'Thunderstorm': 1}